# Ignore files
# *.tar.gz
*.swp
*.swo
*.dt
*.as
*.tmp
*.tbl
*.out
*.LOG
*.DS_Store
*.pyc
*.err
.Rhistory
*.sif
.coverage
.env
*.asc
*.xml
.tif
*.csv

# Ignore folders
__pycache__/
scratch/
aeo/output/
aeo/input/
aeo/scratch/
venv
ipython-venv
venv-dev
docs/notebooks/.ipynb*
.vscode
htmlcov/
Postgis_CSM_database/weather_data/tiff_outputs/
